{% extends 'base_ingame.html.twig' %}
{% block body %}
    <div class="plateau">
        <div class="actions_adverses">
            {%if app.user.id == partie.j1_id%}
                                <div class="actions_adverses_top"><!--Actions J2 a afficher-->
                                    {% if partie.actions_j2.secret.etat != 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 1 : Secret">
                                    {% endif%}
                                    {% if partie.actions_j2.secret.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" height="100%" title="Action 1 : Secret">
                                    {% endif %}
                                    {% if partie.actions_j2.dissimulation.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                    {% if partie.actions_j2.dissimulation.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                </div>
                                <div class="actions_adverses_bot">
                                    {% if partie.actions_j2.cadeau.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j2.cadeau.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j2.concurrence.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                    {% if partie.actions_j2.concurrence.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                </div>
            {% endif %}
            {%if app.user.id == partie.j2_id%}
                                <div class="actions_adverses_top"><!--Actions J1 a afficher-->
                                    {% if partie.actions_j1.secret.etat != 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 1 : Secret">
                                    {% endif%}
                                    {% if partie.actions_j1.secret.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" height="100%" title="Action 1 : Secret">
                                    {% endif %}
                                    {% if partie.actions_j1.dissimulation.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                    {% if partie.actions_j1.dissimulation.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                </div>
                                <div class="actions_adverses_bot">
                                    {% if partie.actions_j1.cadeau.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j1.cadeau.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j1.concurrence.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" style="filter: grayscale(100%);" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                    {% if partie.actions_j1.concurrence.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                </div>
            {% endif %}
        </div>
        <div class="actions_joueur">
            <div id="action1" class="act">
                <div class="act_left">
                    <div class="emplacement" id="empl1">
                        
                    </div>
                </div>
                <div class="act_right">
                    <div class="valid">
                        <form method="POST" action="{{path('action_secret', {'id': partie.id})}}">
                            <input id="input1" name="idCarte" type="hidden">
                            <input type="submit" id="sub1" value="">
                        </form>
                            <button class="cancel"></button>
                    </div>
                </div>
            </div>
             <div id="action2" class="act">
                <div class="act_left">
                    <div class="emplacement" id="empl2_1"></div>
                    <div class="emplacement" id="empl2_2"></div>
                </div>
                <div class="act_right">
                    <div class="valid">
                        <form method="POST" action="{{path('action_dissimulation', {'id': partie.id})}}">
                            <input id="input2_1" name="idCarte1" type="hidden">
                            <input id="input2_2" name="idCarte2" type="hidden">
                            <input type="submit" id="sub2" value="">
                        </form>
                        <button class="cancel"></button>
                    </div>
                </div>
            </div>
            <div id="action3" class="act">
                <div class="act_left">
                    <div class="emplacement" id="empl3_1"></div>
                    <div class="emplacement" id="empl3_2"></div>
                    <div class="emplacement" id="empl3_3"></div>
                </div>
                <div class="act_right">
                    <div class="valid">
                        <form method="POST" action="{{path('action_cadeau', {'id': partie.id})}}">
                            <input id="input3_1" name="idCarte1" type="hidden">
                            <input id="input3_2" name="idCarte2" type="hidden">
                            <input id="input3_3" name="idCarte3" type="hidden">
                            <input type="submit" id="sub3" value="">
                        </form>
                        <button class="cancel"></button>
                    </div>
                </div>
            </div>
            <div id="action4" class="act">
                <div class="act_left">
                    <div class="emplacement" id="empl4_1"></div>
                    <div class="emplacement" id="empl4_2"></div>
                    <div class="emplacement" id="empl4_3"></div>
                    <div class="emplacement" id="empl4_4"></div>
                </div>
                <div class="act_right">
                    <div class="valid">
                        <form method="POST" action="{{path('action_concurrence', {'id': partie.id})}}">
                            <input id="input4_1" name="idCarte1" type="hidden">
                            <input id="input4_2" name="idCarte2" type="hidden">
                            <input id="input4_3" name="idCarte3" type="hidden">
                            <input id="input4_4" name="idCarte4" type="hidden">
                            <input type="submit" id="sub4" value="">
                        </form>
                        <button class="cancel"></button>
                    </div>
                </div>
            </div>
           {% if app.user.id == partie.j1_id %}
               {% if partie.actions_j2.cadeau.etat == 1 %}
                   <div id="rep_action_3" class="act_rep">
                   <form method="POST" action="{{path('action_cadeau_rep', {'id': partie.id})}}">
                        <div class="act_left">
                            {% for carte in partie.actions_j2.cadeau.cartes %}
                                <div class="in_rep">
                                    <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                                    <input type="radio" value="{{cartes[carte].Id}}" name="idCarte">
                                </div>
                            {% endfor %}
                        </div>
                       <div class="act_right">
                           <input type="submit" id="sub5" value=""/>
                       </div>

                   </form>
                   </div>
               {% endif %}
               {% if partie.actions_j2.concurrence.etat == 1 %}
                   <div id="rep_action_4" class="act_rep" style="display: flex">
                       <form method="POST" action="{{ path('action_concurrence_rep', {'id':partie.id}) }}">
                           <div class="act_left">
                               <div class="in_rep_block">
                                   <div class="in_top">
                                       {% for carte in partie.actions_j2.concurrence.cartes.duo1 %}
                                           <div class="in_rep">
                                               <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                                           </div>
                                       {% endfor %}
                                   </div>
                                   <div class="in_bot">
                                       <input type="radio" value="duo1" name="idDuo">
                                   </div>
                               </div>

                               <div class="in_rep_block">
                                   <div class="in_top">
                                       {% for carte in partie.actions_j2.concurrence.cartes.duo2 %}
                                           <div class="in_rep">
                                               <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                                           </div>
                                       {% endfor %}
                                   </div>
                                   <div class="in_bot">
                                       <input type="radio" value="duo2" name="idDuo">
                                   </div>
                               </div>
                           </div>
                           <div class="act_right">
                               <input type="submit" id="sub6" value=""/>
                           </div>
                       </form>
                   </div>
               {% endif %}
           {% endif %}
           {% if app.user.id == partie.j2_id %}
               {% if partie.actions_j1.cadeau.etat == 1 %}
                   <div id="rep_action_3" class="act_rep">
                       <form method="POST" action="{{path('action_cadeau_rep', {'id': partie.id})}}">
                           <div class="act_left">
                               {% for carte in partie.actions_j1.cadeau.cartes %}
                                   <div class="in_rep">
                                       <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                                       <input type="radio" value="{{cartes[carte].Id}}" name="idCarte">
                                   </div>
                               {% endfor %}
                           </div>
                           <div class="act_right">
                               <input type="submit" id="sub5" value=""/>
                           </div>

                       </form>
                   </div>
               {% endif %}
               {% if partie.actions_j1.concurrence.etat == 1 %}
                   <div id="rep_action_4" class="act_rep" style="display: flex">
                       <form method="POST" action="{{ path('action_concurrence_rep', {'id':partie.id}) }}">
                           <div class="act_left">
                               <div class="in_rep_block">
                                   <div class="in_top">
                                       {% for carte in partie.actions_j1.concurrence.cartes.duo1 %}
                                           <div class="in_rep">
                                               <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                                           </div>
                                       {% endfor %}
                                   </div>
                                   <div class="in_bot">
                                       <input type="radio" value="duo1" name="idDuo">
                                   </div>
                               </div>

                               <div class="in_rep_block">
                                    <div class="in_top">
                                        {% for carte in partie.actions_j1.concurrence.cartes.duo2 %}
                                             <div class="in_rep">
                                                <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                                             </div>
                                        {% endfor %}
                                    </div>
                                    <div class="in_bot">
                                        <input type="radio" value="duo2" name="idDuo">
                                    </div>
                               </div>
                           </div>
                           <div class="act_right">
                                <input type="submit" id="sub6" value=""/>
                           </div>
                       </form>
                   </div>
               {% endif %}
           {% endif %}
        </div>
        <div class="deck">
            <div class="carte">

                {% for carte in partie.pioche %}
                            {{cartes[carte].Id}}
                        {% endfor %}
            </div>
        </div>
        <div class="cartes_maitres">
            {% for key,value in partie.objectifs %}
                <div class="maitres" id="{{key}}">
                    <div class="jet">
                        {% if app.user.id == partie.j1_id %}
                            <img src="{{ asset('assets/images/plateau/jeton1.png') }}" style="visibility: {% if value==2 %}visible{% else %}hidden{% endif %};">
                            <img src="{{ asset('assets/images/plateau/jeton1.png') }}" style="visibility: {% if value==0 %}visible{% else %}hidden{% endif %};">
                            <img src="{{ asset('assets/images/plateau/jeton1.png') }}" style="visibility: {% if value==1 %}visible{% else %}hidden{% endif %};">
                        {% endif %}
                        {% if app.user.id == partie.j2_id %}
                            <img src="{{ asset('assets/images/plateau/jeton1.png') }}" style="visibility: {% if value==1 %}vissible{% else %}hidden{% endif %};">
                            <img src="{{ asset('assets/images/plateau/jeton1.png') }}" style="visibility: {% if value==0 %}visible{% else %}hidden{% endif %};">
                            <img src="{{ asset('assets/images/plateau/jeton1.png') }}" style="visibility: {% if value==2 %}visible{% else %}hidden{% endif %};">
                        {% endif %}
                    </div>
                    <div class="shuriken">
                        {% if app.user.id == partie.j1_id %}
                            <div class="shuriken_top">
                                {% for i in range(1, partie.Carte_placed_j2[key]) %}
                                    {% if partie.Carte_placed_j2[key] !=0 %}
                                        <img src="{{ asset('assets/images/plateau/shuriken.svg') }}" height="20%" alt="Shuriken">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="shuriken_bot">
                                {% for i in range(1, partie.Carte_placed_j1[key]) %}
                                    {% if partie.Carte_placed_j1[key] !=0 %}
                                        <img src="{{ asset('assets/images/plateau/shuriken.svg') }}" height="20%" alt="Shuriken">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.user.id == partie.j2_id %}
                            <div class="shuriken_top">
                                {% for i in range(1, partie.Carte_placed_j1[key]) %}
                                    {% if partie.Carte_placed_j1[key] !=0 %}
                                        <img src="{{ asset('assets/images/plateau/shuriken.svg') }}" height="20%" alt="Shuriken">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="shuriken_bot">
                                {% for i in range(1, partie.Carte_placed_j2[key]) %}
                                    {% if partie.Carte_placed_j2[key] !=0 %}
                                        <img src="{{ asset('assets/images/plateau/shuriken.svg') }}" height="20%" alt="Shuriken">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <img class="face_vosible" src="{{ asset('assets/images/maitres/'~key~'.svg')}}" height="100%">
                    <img class="couverture" src="{{ asset('assets/images/plateau/background.png')}}" height="100%">
                </div>
            {% endfor %}
        </div>
        <div class="actions">
            {%if app.user.id == partie.tour.id%}
                    {%if app.user.id == partie.j1_id%}
                        {%if partie.actions_j1.cadeau.etat != 1%}
                            {%if partie.actions_j1.concurrence.etat != 1%}
                                <div class="actions_top">
                                    {% if partie.actions_j1.secret.etat != 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" id="act1" style="filter: grayscale(100%);" height="100%" title="Action 1 : Secret">
                                    {% endif%}
                                    {% if partie.actions_j1.secret.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" id="act1" class="act_click" height="100%" title="Action 1 : Secret">
                                    {% endif %}
                                    {% if partie.actions_j1.dissimulation.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" id="act2" style="filter: grayscale(100%);" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                    {% if partie.actions_j1.dissimulation.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" id="act2" class="act_click" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                </div>
                                <div class="actions_bot">
                                    {% if partie.actions_j1.cadeau.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" id="act3" style="filter: grayscale(100%);" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j1.cadeau.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" id="act3" class="act_click" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j1.concurrence.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" id="act4" style="filter: grayscale(100%);" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                    {% if partie.actions_j1.concurrence.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" id="act4" class="act_click" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if partie.actions_j1.cadeau.etat == 1 or partie.actions_j1.concurrence.etat == 1 %}
                            En attente de la réponse de l'autre joueur!
                        {% endif %}
                    {% endif %}
                    {%if app.user.id == partie.j2_id%}
                        {%if partie.actions_j2.cadeau.etat != 1%}
                            {%if partie.actions_j2.concurrence.etat != 1%}
                                <div class="actions_top">
                                    {% if partie.actions_j2.secret.etat != 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}" id="act1" style="filter: grayscale(100%);" height="100%" title="Action 1 : Secret">
                                    {% endif%}
                                    {% if partie.actions_j2.secret.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action1.png')}}"id="act1" class="act_click" height="100%" title="Action 1 : Secret">
                                    {% endif %}
                                    {% if partie.actions_j2.dissimulation.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" id="act2" style="filter: grayscale(100%);" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                    {% if partie.actions_j2.dissimulation.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action2.png')}}" id="act2" class="act_click" height="100%" title="Action 2 : Dissimulation">
                                    {% endif%}
                                </div>
                                <div class="actions_bot">
                                    {% if partie.actions_j2.cadeau.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" id="act3" style="filter: grayscale(100%);" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j2.cadeau.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action3.png')}}" id="act3" class="act_click" height="100%" title="Action 3 : Cadeau">
                                    {% endif%}
                                    {% if partie.actions_j2.concurrence.etat != 0 %}
                                    <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" id="act4" style="filter: grayscale(100%);" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                    {% if partie.actions_j2.concurrence.etat == 0 %}
                                        <img src="{{ asset('assets/images/plateau/jetons_action4.png')}}" id="act4" class="act_click" height="100%" title="Action 4 : Concurrence">
                                    {% endif%}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if partie.actions_j2.cadeau.etat == 1 or partie.actions_j2.concurrence.etat == 1 %}
                            <p style="height: 100%; width: 100%; display: flex; align-items: center; font-family:'Chinoise'; color: white; text-align: center">En attente de la réponse de l'autre joueur</p>
                        {% endif %}
                    {% endif %}
            {% endif %}
            {%if app.user.id != partie.tour.id%}
                <p style="height: 100%; width: 100%; display: flex; align-items: center; font-family:'Chinoise'; color: white;text-align: center">Ce n'est pas à votre tour de jouer</p>
            {% endif %}
        </div>
        <div class="main_user">
            {% if partie.Main_j1 is not empty %}
                {% if app.user.id == partie.j1_id %}
                    {% for carte in partie.Main_j1 %}
                        <div class="hand" id="{{cartes[carte].Id}}">
                            <img  src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            
            {% if partie.Main_j2 is not empty %}
                {% if app.user.id == partie.j2_id %}
                    {% for carte in partie.Main_j2 %}
                        <div class="hand" id="{{cartes[carte].Id}}">
                            <img src="{{ asset('assets/images/objets/objet_'~cartes[carte].Id~'.png')}}" height="100%" />
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>

        <div class="baguette">
            <img src="{{asset('assets/images/plateau/baguette.svg')}}">
        </div>

        <div class="contain_chat">
            <div class="contain_chat_in">
                <div class="open_chat">
                    <div class="button_open_chat"><img src="{{asset('assets/images/plateau/bouton.svg')}}"></div>
                </div>
                <div class="chat_right">
                    <div class="infos">
                        <div class="infos_top">
                            <div class="block_infos_top" id="fight1">
                                {% if joueur1.score <=100 %}
                                    <img src="{{ asset('assets/images/cadres/nv1-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur1.score >100 %}
                                    <img src="{{ asset('assets/images/cadres/nv2-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur1.score >300 %}
                                    <img src="{{ asset('assets/images/cadres/nv3-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur1.score >700 %}
                                    <img src="{{ asset('assets/images/cadres/nv4-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur1.roles == 'ROLE_ADMIN' %}
                                    <img src="{{ asset('assets/images/cadres/admin.png') }}" alt="profil image" height="100%">
                                {% endif %}
                            </div>

                                <div class="block_infos_top" id="fight2">
                                    <div class="infos_top_bot" id="infos_top_top"><p>{{ joueur1.username }}</p></div>
                                    <div class="infos_middle"><h1>VS</h1></div>
                                    <div class="infos_top_bot"><p>{{ joueur2.username }}</p></div>
                                </div>
                            <div class="block_infos_top" id="fight3">
                                {% if joueur2.score <=100 %}
                                    <img src="{{ asset('assets/images/cadres/nv1-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur2.score >100 %}
                                    <img src="{{ asset('assets/images/cadres/nv2-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur2.score >300 %}
                                    <img src="{{ asset('assets/images/cadres/nv3-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur2.score >700 %}
                                    <img src="{{ asset('assets/images/cadres/nv4-ninja.png') }}" alt="profil image" height="100%">
                                {% elseif joueur2.roles == 'ROLE_ADMIN' %}
                                    <img src="{{ asset('assets/images/cadres/admin.png') }}" alt="profil image" height="100%">
                                {% endif %}
                            </div>
                        </div>
                        <div class="infos_bot">
                            <h1>Manche n° {{ partie.manche }}</h1>
                        </div>
                    </div>
                    <div class="chat"></div>
                    <div class="input">
                        <form>
                            <textarea id="message" placeholder="Ecriver votre message.."></textarea>
                            <input type="submit" id="send">
                        </form> 
                    </div>
                </div>
            </div>
        </div>

        <img src="{{asset('assets/images/plateau/plateau.jpg')}}" width="100%">
    </div>
    {% endblock %}
    {% block javascripts %}
        <script>

            {% if partie.actions_j1.cadeau.etat ==1 or  partie.actions_j1.concurrence.etat ==1 or  partie.actions_j1.secret.etat ==1 or  partie.actions_j1.dissimulation.etat ==1 or partie.actions_j2.cadeau.etat ==1 or  partie.actions_j2.concurrence.etat ==1 or  partie.actions_j2.secret.etat ==1 or  partie.actions_j2.dissimulation.etat ==1%}
            var letour=1;
            {% else %}
                var letour=0;
            {% endif %}


            var user = "{{ app.user.username }}";
            $('img').attr('alt','image');
            var nbmessage=0;
            var io = io.connect("http://localhost:8765");
            io.on("tujoin",function(tujoin_value){
                $('.chat').append('<h5>' + tujoin_value + '</h5>');
            });
            io.emit("jarrive",user);
            if (nbmessage==0) {
                io.on("last_msg",function(last_msg){
                    var nb_in_tab=last_msg.length;
                    for (var i=0; i<nb_in_tab; i++) {
                        if (last_msg[i].user==user) {
                            $('.chat').append('<div class="publish_me"><div class="round"></div> <p><a href="" target="_blank">Vous </a> :  '+last_msg[i].user+' :  ' + last_msg[i].message + '</p></div>');
                        }
                        else{
                            $('.chat').append('<div class="publish"><div class="round"></div> <p> '+last_msg[i].user+' :  ' + last_msg[i].message + '</p></div>');
                        }

                    }

                });
            }
            $(window).keydown(function(event){
                if(event.keyCode==13){
                    event.preventDefault();
                    if($('#message').val()===""){
                        if (nbrepeat==0) {
                            alert('Le champ est vide !');
                        }
                    }

                    else{
                        $('#send').click(function(e){
                            e.preventDefault();
                            var mess = $('#message').val();
                            var message = mess;
                            io.emit("message",{message,user});
                            e.stopImmediatePropagation();
                            document.getElementById("message").value="";
                        });

                        $('#send').click();
                    }
                }
            });

            io.on("message_pour_tous",function(lemessage){
                if (lemessage.user==user) {
                    $('.chat').append('<div class="publish_me"><div class="round"></div> <p><a href="" target="_blank">Vous </a> :  ' + lemessage.message + '</p></div>');
                    $('.chat').scrollTop($(window).height());
                    nbmessage=nbmessage+1;
                }

                else{
                    $('.chat').append('<div class="publish"><div class="round"></div> <p><a href="" target="_blank">'+ lemessage.user +' </a> :  ' + lemessage.message + '</p></div>');
                    $('.chat').scrollTop($(window).height());
                    nbmessage=nbmessage+1;
                }

            });
        </script>
    {% endblock %}
