<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hanamikoji{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-reboot.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}                    
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="{{path("welcome")}}">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path("profil")}}">Profil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path("rules")}}">Règles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path("nouvelle_partie")}}">Jouer</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script type='text/javascript' src="{{ asset('assets/js/bootstrap.js') }}"></script>
        <script type='text/javascript' src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    </body>
</html>
